<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='3027200265',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script>
<!-- End of Google Website Optimizer Control Script -->


<div style="float:right;margin-top:76px;width:430px;">
  <h1>
<script>utmx_section("tagline")</script>
    We can turn <i>your</i> photo into a <i>hot pic!</i>
</noscript>
  </h1>
<script>utmx_section("headings")</script>
  <p class="shadowtext"><%= image_tag("site/star1.png") %>
    Hot pics are proven to get more attention online.
  </p>
  <p class="shadowtext"><%= image_tag("site/star2.png") %>
    Get more <span class="under">emails</span> and <u>winks</u> on Match.com.
  </p>
  <p class="shadowtext"><%= image_tag("site/star3.png") %>
    We can fix flaws, and make you look great.
  </p>
</noscript>
  <p><a id="show_examples" href="#examples"><button type="submit" class="mybutton learnbutton"></button></a></p>

</div>

<%= image_tag("site/before1.png", :style=>"position:absolute;top:39px;left:10px") %>
<%= image_tag("site/after1.png", :style=>"position:absolute;top:-88px;left:151px") %>

<div class="white-box" style="margin-top:400px;">
  <table style="width:100%;font-size:20px" class="steps">
    <td style="width:25%">
      <h2>Step One:</h2>Upload your photo.<br />
      <a href="#" id="get-started"><%= image_tag("site/get-started.png")  %></a>
    </td>
    <td style="width:37%"><h2>Step Two:</h2>Our photo experts create<br />the best version of your photo.</td>
    <td style="width:37%"><h2>Step Three:</h2>You pick and download<br />your favorite one.</td>
  </table>
</div>

<div style="clear:both"></div>

<% form_tag "/products", :multipart => true, :onsubmit => "return check_form(this)" do %>
<div class="white-box" style="visibility:hidden;margin-top:20px;" id="upload">
  <table style="width:100%;font-size:20px;line-height:37px" class="steps">
    <td style="width:25%">
      <div>Enter your email</div>
      <div>Choose photo</div>
      <div>
        <div style="float:right;padding:13px 36px 0px 0px"><img id="indicator" src="/images/indicator.gif" style="display:none"/></div>
        <button type="submit" class="mybutton uploadbutton"></button>
      </div>
    </td>
    <td style="width:70%">
      <div style="height:37px"><input type="text" name="email" style="width:288px;height:22px;border-radius:10px;padding:2px 8px;font-size:18px"></input></div>
      <div style="height:37px">        
        <%= file_field_tag :image, :style => 'margin-top:8px;' %></div>
    </td>
  </table>
</div>
<% end %>

<div style="display:none">
<div id="examples">
  <%= render :partial => 'examples' %>
</div>
</div>

<script>
  function check_form(form) {
    if (form.email.value == '') {
      alert("We need your email in case we need to contact you");
      return false;
    }
    if (form.image.value == '') {
      alert("Please pick a photo to upload");
      return false;
    }
    // looks good
    $j('#indicator').show();
    $j('form button').attr('disabled', true).css('background-position', 'right -48px');
    return true;
  }

  $j(function() {
    $j('#get-started').click(function() {
      $j('#upload').css('visibility', 'visible');
      $j.scrollTo($j('#upload'));
      return false;
    })
  });

  $j('#show_examples').fancybox();

</script>

<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-4364770-2");
gwoTracker._trackPageview("/3027200265/test");
}catch(err){}</script>
<!-- End of Google Website Optimizer Tracking Script -->

