<div style="float:right">
  <%= image_tag(@photo.photo_url, :width => 100) %>
</div>

<div>
  Thank you, <%= @email %>.
</div>

<% form_tag "/purchase" do %>
  <%= hidden_field_tag :email, @email %>
  <%= hidden_field_tag :photo_id, @photo.id %>

  <h2>Choose your style</h2>
  <table width="300px">
    <tr>
      <td>Natural</td>
      <td>Professional</td>
      <td>Star treatment!</td>
    </tr>
    <tr>
      <td><%= radio_button_tag :style, :natural %></td>
      <td><%= radio_button_tag :style, :pro %></td>
      <td><%= radio_button_tag :style, :star, true %></td>
    </tr>
  </table>

  Any special requests?<br />
  <%= text_area_tag :comments %>
  
  <h2>Choose your plan</h2>

  <table>
    <tr>
      <td><%= radio_button_tag :product, :basic, true %> <b>$9.95</b></td> <td>2 designers compete to retouch your photo</td>
    </tr>
    <tr>
      <td><%= radio_button_tag :product, :pro %> <b>$14.95</b></td><td> 4 designers compete to retouch your photo</td>
    </tr>
  </table>

  <br />
  <%= submit_tag "Purchase" %>
<% end %>