<div style="width:200px;float:left">
  Your email<br />
  <span style="color:#666;"><%= @email %></span>
</div>

<div style="float:left">
  Your photo<br />
  <%= image_tag(@photo.photo_url, :width => 160) if @photo %>
</div>

<div style="clear:both"></div>

<% form_tag "/purchase" do %>
  <%= hidden_field_tag :email, @email %>
  <%= hidden_field_tag :photo_id, (@photo ? @photo.id : nil) %>

  <h2 class="bluefont">Choose your style</h2>
  <table width="300px">
    <tr>
      <td>Natural</td>
      <td>Professional</td>
      <td>Star treatment!</td>
    </tr>
    <tr>
      <td><%= radio_button_tag :style, :natural %></td>
      <td><%= radio_button_tag :style, :pro %></td>
      <td><%= radio_button_tag :style, :star, true %></td>
    </tr>
  </table>

  Any special requests?<br />
  <%= text_area_tag :comments %>
  
  <h2 class="bluefont">Choose your plan</h2>

  <table>
    <tr>
      <td><%= radio_button_tag :product, :basic, true %> <b>$9.95</b></td> <td>2 designers compete to retouch your photo</td>
    </tr>
    <tr>
      <td><%= radio_button_tag :product, :pro %> <b>$14.95</b></td><td> 4 designers compete to retouch your photo</td>
    </tr>
  </table>

  <br />
  <button type="submit">Purchase</button>
<% end %>