<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag('jquery.min') %>
    <script>$j=jQuery;</script>

    <style>
      body {
        font-family: Arial, Verdana, Arial, serif;
        margin:0;
      }
      .wrapper {
        background: url(/images/backtext1.png);
        padding:10px 40px;
      }
      .site-header {
        border-bottom:2px solid #999;
        padding:8px 40px;
        font-size:24px;
        background-color:#222;
        height:40px;
        color:#FFF;
      }
      .tagline {
        float:left;
        margin-left:10px;
        font-size:14px;
        line-height:40px;
      }
      .bluefont {
        color:#0077CC;
      }
      .header1 {
        font-family: helvetica;
        text-align:center;
        font-size:46px;
        font-weight:bold;
        padding:10px;
      }

      .callout {
        background-color:#FFF;
        border:2px solid #3A85B1;
        padding:8px;
        text-align:left;
        font-size:18px;
        width:80%;
        margin:10px auto;

      }
      .callout .header2 {
        font-size:1.5em;
        font-weight:bold;
        text-align:center;
      }

      .footer {
        background-color:#222;
        border-top:1px solid #CCC;
        padding: 15px 40px;
        font-size:0.8em;
        color:#FFF;
      }
      .footer a {
        color:#666;
      }
      .inputform {
        font-size:1.1em;
        padding:4px;
        width:200px;
      }
      label {
        font-size:1.3em;
        color:#333;
        padding:4px;
        width:200px;
        display:block;
        float:left;
        margin:4px 10px 4px 0px;
      }
      button {
        font-size:1.2em;
        background-color:#E47117;
        color:white;
        padding:2px 8px;
        border:1px solid #666;
      }

      .col1 {
        float:left;
        width:50%;
        padding:0;
      }

      .col2 {
        float:left;
        width:50%;
        padding:0;
        text-align:right;
      }
      .hidden {
        display:none;
      }
    </style>
  </head>
  <body>
    <div class="site-header">
      <div style="float:left">
        <img src="/images/logo1.png" style="margin-top:-8px"/>
      </div>
      <div class="tagline">Photo editing service &middot; we help you look your best!</div>
      <div style="clear:both"></div>
    </div>

    <div class="wrapper">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>

      <%= @content_for_layout %>
    </div>

    <div class="footer">
      <div style="float:right">
        (c) USA Media Services, 2010
      </div>
      <p><%= link_to 'About', '/about' %></p>
      <p><%= link_to 'Send Feedback', '/feedback' %></p>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17157384-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
